<div id="bio-container">
  <span id="big-hello">Hello</span>

  <div id="bio">
  
    <p><strong><%= NAME %></strong> here</p>

    <p>Hegelian Jewish Open Source Rails Photographer at your service.</p>

    <p>Most places online I am known by <strong><%= HANDLE %></strong></p>

    <p>I've been an artist since 1983 and professionally working in the art of code since 2007.</p>

    <p>This site was my first project to host my photography and now showcases my new life in web development since then.</p>

    <p>My bread and butter is in rails, but have worked extensively in Node.js and android development.</p>

    <p>I shoot on a mark 5d and commissions are welcomed.</p>

  </div>
</div>

<span class="clear"></span>

<h2 id="influences-header">Influences</h2>

<div id='influences'>
  <div id="code-influences">
    <h3>Code</h3>
    <ul>
      <li>Brian Mitchell</li>
      <li><%= link_to 'Charlie Robbins', 'http://twitter.com/#!/indexzero' %></li>
      <li>Kevin Skoglund</li>
      <li>Ryan Bates</li>
    </ul>
  </div>

  <div id="photo-influences">
    <h3>Photography</h3>
    <ul>
      <li>Joel Sternfield</li>
      <li>Gursky</li>
      <li>Nan Goldin</li>
      <li>Paul Strand</li>
      <li>Robert Frank</li>
    </ul>
  </div>
  <span class="clear"></span>
  
</div>