/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 8, ../compass/_base.scss */
.clear, .clearfix {
  display: block;
  clear: both;
}

/* line 8, ../compass/screen.scss */
body {
  background: #595959;
  color: gray;
}

/* line 13, ../compass/screen.scss */
header, section {
  display: block;
}

@font-face {
  font-family: 'ZeroZeroIsRegular';
  src: url("/fonts/zero_and_zero_is-webfont.eot?") format("eot"), url("/fonts/zero_and_zero_is-webfont.ttf") format("truetype"), url("/fonts/zero_and_zero_is-webfont.svg#webfontJ4OlKjBC") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GessoRegular';
  src: url("/fonts/GESSO___-webfont.eot?") format("eot"), url("/fonts/GESSO___-webfont.woff") format("woff"), url("/fonts/GESSO___-webfont.ttf") format("truetype"), url("/fonts/GESSO___-webfont.svg#webfontamIp8rmu") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38, ../compass/screen.scss */
ul.nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.nav li:first-child, ul.nav li.first {
  padding-left: 0;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.nav li:last-child, ul.nav li.last {
  padding-right: 0;
}
/* line 41, ../compass/screen.scss */
ul.nav li:hover {
  background-color: green;
}
/* line 44, ../compass/screen.scss */
ul.nav a {
  color: gray;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
ul.nav a:visited {
  color: gray;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
ul.nav a:hover {
  color: gray;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
ul.nav a:active {
  color: gray;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p136@rails3/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_unstyled-link.scss */
ul.nav a:active, ul.nav a:focus {
  outline: none;
}

/* line 50, ../compass/screen.scss */
.wrapper {
  width: 960px;
  margin: auto;
  background: #02030A;
  border-left: 5px solid #333333;
  border-right: 5px solid #333333;
}

/* line 59, ../compass/screen.scss */
#content {
  padding: 10px;
  background: url(../images/main-bg.png) right top no-repeat;
  min-height: 600px;
}

/* line 65, ../compass/screen.scss */
#container {
  padding-bottom: 5px;
}

/* line 69, ../compass/screen.scss */
h1, h2, h3 {
  margin: 10px 0px;
}

/* line 73, ../compass/screen.scss */
footer {
  display: block;
  height: 50px;
  background: #333333;
  position: relative;
}

/* line 80, ../compass/screen.scss */
footer a {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* ============ */
/* = Projects = */
/* ============ */
/* line 90, ../compass/screen.scss */
.project-tag-cloud {
  width: 400px;
  float: left;
}

/* line 95, ../compass/screen.scss */
.tech-cloud {
  float: right;
}

/* line 99, ../compass/screen.scss */
.project-tag-cloud h2 {
  margin: 10px 0px;
  font-size: 32px;
  color: #580740;
  font-family: 'GessoRegular';
}

/* line 106, ../compass/screen.scss */
.project-div {
  width: 220px;
  height: 130px;
  background: red;
  float: left;
  margin-right: 15px;
  -moz-box-shadow: 0px 0px 10px white;
  -webkit-box-shadow: 0px 0px 4px white;
  box-shadow: 0px 0px 4px white;
}

/**** Isotope Filtering ****/
/* line 120, ../compass/screen.scss */
.isotope-item {
  z-index: 2;
}

/* line 124, ../compass/screen.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/* line 132, ../compass/screen.scss */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  /*     -o-transition-duration: 0.8s;*/
  transition-duration: 0.8s;
}

/* line 140, ../compass/screen.scss */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  /*     -o-transition-property: height, width;*/
  transition-property: height, width;
}

/* disable CSS transitions for containers with infinite scrolling*/
/* line 148, ../compass/screen.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 155, ../compass/screen.scss */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  /*     -o-transition-property:      -o-transform, opacity;*/
  transition-property: transform, opacity;
}

/* line 163, ../compass/screen.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  /*     -o-transition-duration: 0s;*/
  transition-duration: 0s;
}

/* ============= */
/* = Biography = */
/* ============= */
/* line 174, ../compass/screen.scss */
#bio-container {
  margin-top: 60px;
}

/* line 178, ../compass/screen.scss */
#big-hello {
  display: block;
  color: #580740;
  font-size: 80px;
  font-family: 'GessoRegular';
  letter-spacing: 10px;
  float: left;
  margin-left: 25px;
}

/* line 188, ../compass/screen.scss */
#bio {
  float: left;
  width: 600px;
  margin-left: 50px;
}

/* line 194, ../compass/screen.scss */
#bio p {
  margin: 8px 0px;
}

/* line 198, ../compass/screen.scss */
#influences-header {
  margin: 30px 0px;
  text-align: center;
  font-size: 36px;
  color: #241A51;
  font-family: 'GessoRegular';
}

/* line 207, ../compass/screen.scss */
#influences {
  width: 500px;
  margin: auto;
}

/* line 212, ../compass/screen.scss */
#influences h3 {
  font-size: 24px;
}

/* line 216, ../compass/screen.scss */
#influences li {
  margin: 5px 0;
  font-size: 16px;
}

/* line 221, ../compass/screen.scss */
#code-influences {
  float: left;
}

/* line 225, ../compass/screen.scss */
#photo-influences {
  float: right;
}

/* line 229, ../compass/screen.scss */
.isotope-item {
  z-index: 2;
}

/* line 233, ../compass/screen.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
