<%- @page_title = "Portfolios" -%>

<div class="portfolio listing">
  <h1><%= @page_title %></h1>
    
  <%= link_to("Create New Portfolio", new_staff_portfolio_path, :class => 'action') %>

  <%= render(:partial => 'list') %>

</div>