<%- @page_title = "Main Menu" -%>

<div id="main-menu">
  <h2>Main Menu</h2>
  
  <ul class="center">
    <li><%= link_to('Manage Users', :controller => 'staff/users') %></li>
    <li><%= link_to('Manage Projects',  staff_projects_path) %></li>
    
  </ul>
  
</div>
